In [1]:
import pandas as pd
import numpy as np

ModuleNotFoundError: No module named 'pandas'

In [ ]:
import os
cwd = os.getcwd()
print(cwd)

/Users/vanessamae/Documents/playground/python

In [ ]:
# np.set_printoptions(suppress=True)  # stops scientific notation in NumPy arrays
# pd.set_option('display.float_format', '{:,.0f}'.format)

#### Reading data: Language

In [ ]:
import pandas as pd
url = "https://raw.githubusercontent.com/UBC-DSCI/introduction-to-datascience-python/reading/source/data/can_lang.csv"
canlang_data = pd.read_csv(url)
canlang_data

canland_file = "/Users/vanessamae/Documents/playground/python/can_lang.csv"

In [ ]:
canlang_data = pd.read_csv(canland_file)
canlang_data

,category,language,mother_tongue,most_at_home,most_at_work,lang_known
0,Aboriginal languages,"Aboriginal languages, n.o.s.",590,235,30,665
1,Non-Official & Non-Aboriginal languages,Afrikaans,10260,4785,85,23415
2,Non-Official & Non-Aboriginal languages,"Afro-Asiatic languages, n.i.e.",1150,445,10,2775
3,Non-Official & Non-Aboriginal languages,Akan (Twi),13460,5985,25,22150
4,Non-Official & Non-Aboriginal languages,Albanian,26895,13135,345,31930
...,...,...,...,...,...,...
209,Non-Official & Non-Aboriginal languages,Wolof,3990,1385,10,8240
210,Aboriginal languages,Woods Cree,1840,800,75,2665
211,Non-Official & Non-Aboriginal languages,Wu (Shanghainese),12915,7650,105,16530
212,Non-Official & Non-Aboriginal languages,Yiddish,13555,7085,895,20985
213,Non-Official & Non-Aboriginal languages,Yoruba,9080,2615,15,22415

In [ ]:
canlang_data = pd.read_csv(canland_file)
canlang_data

,category,language,mother_tongue,most_at_home,most_at_work,lang_known
0,Aboriginal languages,"Aboriginal languages, n.o.s.",590,235,30,665
1,Non-Official & Non-Aboriginal languages,Afrikaans,10260,4785,85,23415
2,Non-Official & Non-Aboriginal languages,"Afro-Asiatic languages, n.i.e.",1150,445,10,2775
3,Non-Official & Non-Aboriginal languages,Akan (Twi),13460,5985,25,22150
4,Non-Official & Non-Aboriginal languages,Albanian,26895,13135,345,31930
...,...,...,...,...,...,...
209,Non-Official & Non-Aboriginal languages,Wolof,3990,1385,10,8240
210,Aboriginal languages,Woods Cree,1840,800,75,2665
211,Non-Official & Non-Aboriginal languages,Wu (Shanghainese),12915,7650,105,16530
212,Non-Official & Non-Aboriginal languages,Yiddish,13555,7085,895,20985
213,Non-Official & Non-Aboriginal languages,Yoruba,9080,2615,15,22415

#### Series

In [ ]:
region = pd.Series(["Toronto", "Montreal", "Vancouver", "Calgary", "Ottawa"])
region

0      Toronto
1     Montreal
2    Vancouver
3      Calgary
4       Ottawa
dtype: object

In [ ]:
region.info()

<class 'pandas.core.series.Series'>
RangeIndex: 5 entries, 0 to 4
Series name: None
Non-Null Count  Dtype
--------------  -----
5 non-null      object
dtypes: object(1)
memory usage: 172.0+ bytes

#### Dictionary (pairs of “keys” and “values”)

In [ ]:
population_in_2016 = {
  "cities": ["Toronto", "Vancouver", "Montreal", "Calgary", "Ottawa", "Winnipeg"],
  "population": [2235145, 1027613, 1823281, 544870, 571146, 321484]
}
print(population_in_2016)

{'cities': ['Toronto', 'Vancouver', 'Montreal', 'Calgary', 'Ottawa', 'Winnipeg'], 'population': [2235145, 1027613, 1823281, 544870, 571146, 321484]}

#### Convert Dictionary -> Dataframe

In [ ]:
population_in_2016_df = pd.DataFrame(population_in_2016)
population_in_2016_df

      cities  population
0    Toronto     2235145
1  Vancouver     1027613
2   Montreal     1823281
3    Calgary      544870
4     Ottawa      571146
5   Winnipeg      321484

In [ ]:
population_in_2016_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   cities      6 non-null      object
 1   population  6 non-null      int64
dtypes: int64(1), object(1)
memory usage: 228.0+ bytes

#### [Extracting columns by name] - filter rows or select columns using []

In [ ]:
canlang_data[["category","language", "mother_tongue"]]

,category,language,mother_tongue
0,Aboriginal languages,"Aboriginal languages, n.o.s.",590
1,Non-Official & Non-Aboriginal languages,Afrikaans,10260
2,Non-Official & Non-Aboriginal languages,"Afro-Asiatic languages, n.i.e.",1150
3,Non-Official & Non-Aboriginal languages,Akan (Twi),13460
4,Non-Official & Non-Aboriginal languages,Albanian,26895
...,...,...,...
209,Non-Official & Non-Aboriginal languages,Wolof,3990
210,Aboriginal languages,Woods Cree,1840
211,Non-Official & Non-Aboriginal languages,Wu (Shanghainese),12915
212,Non-Official & Non-Aboriginal languages,Yiddish,13555
213,Non-Official & Non-Aboriginal languages,Yoruba,9080

In [ ]:
canlang_data["language"]

0        Aboriginal languages, n.o.s.
1                           Afrikaans
2      Afro-Asiatic languages, n.i.e.
3                          Akan (Twi)
4                            Albanian
                    ...
209                             Wolof
210                        Woods Cree
211                 Wu (Shanghainese)
212                           Yiddish
213                            Yoruba
Name: language, Length: 214, dtype: object

In [ ]:
canlang_data[["language"]]

                           language
0      Aboriginal languages, n.o.s.
1                         Afrikaans
2    Afro-Asiatic languages, n.i.e.
3                        Akan (Twi)
4                          Albanian
..                              ...
209                           Wolof
210                      Woods Cree
211               Wu (Shanghainese)
212                         Yiddish
213                          Yoruba

[214 rows x 1 columns]

#### Extracting rows with conditions

#### Filter observations

In [ ]:
canlang_data[canlang_data["category"] == "Official languages"]

,category,language,mother_tongue,most_at_home,most_at_work,lang_known
54,Official languages,English,19460850,22162865,15265335,29748265
59,Official languages,French,7166700,6943800,3825215,10242945

In [ ]:
canlang_data[canlang_data["category"] != "Official languages"]

,category,language,mother_tongue,most_at_home,most_at_work,lang_known
0,Aboriginal languages,"Aboriginal languages, n.o.s.",590,235,30,665
1,Non-Official & Non-Aboriginal languages,Afrikaans,10260,4785,85,23415
2,Non-Official & Non-Aboriginal languages,"Afro-Asiatic languages, n.i.e.",1150,445,10,2775
3,Non-Official & Non-Aboriginal languages,Akan (Twi),13460,5985,25,22150
4,Non-Official & Non-Aboriginal languages,Albanian,26895,13135,345,31930
...,...,...,...,...,...,...
209,Non-Official & Non-Aboriginal languages,Wolof,3990,1385,10,8240
210,Aboriginal languages,Woods Cree,1840,800,75,2665
211,Non-Official & Non-Aboriginal languages,Wu (Shanghainese),12915,7650,105,16530
212,Non-Official & Non-Aboriginal languages,Yiddish,13555,7085,895,20985
213,Non-Official & Non-Aboriginal languages,Yoruba,9080,2615,15,22415

In [ ]:
canlang_data[
  (canlang_data["category"] == "Official languages") &
  (canlang_data["language"] == "English")
]

,category,language,mother_tongue,most_at_home,most_at_work,lang_known
54,Official languages,English,19460850,22162865,15265335,29748265

In [ ]:
canlang_data[
  (canlang_data["most_at_work"] > 35000) |
  (canlang_data["language"] != "English")
]

,category,language,mother_tongue,most_at_home,most_at_work,lang_known
0,Aboriginal languages,"Aboriginal languages, n.o.s.",590,235,30,665
1,Non-Official & Non-Aboriginal languages,Afrikaans,10260,4785,85,23415
2,Non-Official & Non-Aboriginal languages,"Afro-Asiatic languages, n.i.e.",1150,445,10,2775
3,Non-Official & Non-Aboriginal languages,Akan (Twi),13460,5985,25,22150
4,Non-Official & Non-Aboriginal languages,Albanian,26895,13135,345,31930
...,...,...,...,...,...,...
209,Non-Official & Non-Aboriginal languages,Wolof,3990,1385,10,8240
210,Aboriginal languages,Woods Cree,1840,800,75,2665
211,Non-Official & Non-Aboriginal languages,Wu (Shanghainese),12915,7650,105,16530
212,Non-Official & Non-Aboriginal languages,Yiddish,13555,7085,895,20985
213,Non-Official & Non-Aboriginal languages,Yoruba,9080,2615,15,22415

#### Region Data: Region

In [ ]:
region_data = pd.read_csv("region_data.csv")
region_data

,region,households,area,population,dwellings
0,Belleville,43002,1354.65121,103472,45050
1,Lethbridge,45696,3046.69699,117394,48317
2,Thunder Bay,52545,2618.26318,121621,57146
3,Peterborough,50533,1636.98336,121721,55662
4,Saint John,52872,3793.42158,126202,58398
5,Brantford,52530,1086.27106,134203,54419
6,Moncton,61769,2625.12110,144810,66699
7,Guelph,59280,604.00365,151984,63324
8,Trois-Rivières,72502,1052.80206,156042,77734
9,Saguenay,72479,3078.79919,160980,77968
10,Kingston,67915,2142.32855,161175,77173
11,Greater Sudbury,70445,4372.12290,164689,76619
12,Abbotsford - Mission,62631,651.99511,180518,65967
13,Kelowna,81383,3144.90019,194882,88374
14,Barrie,72534,967.67675,197059,76336
15,St. John's,85015,850.46041,205955,92353
16,Sherbrooke,95577,1506.36002,212105,106082
17,Regina,94955,4408.86418,236481,101719
18,Saskatoon,115283,6218.50503,295095,124766
19,Windsor,132912,1032.38176,329144,140408
20,Victoria,162716,704.43390,367770,172559
21,Oshawa,138962,908.06142,379848,142462
22,Halifax,173459,5963.13705,403390,187478
23,St. Catharines - Niagara,168485,1425.34399,406074,180606
24,London,206448,2677.86088,494069,220452
25,Kitchener - Cambridge - Waterloo,200495,1106.65072,523894,210896
26,Hamilton,293345,1404.65670,747545,306034
27,Winnipeg,306550,5410.82907,778489,321484
28,Québec,361891,3475.38576,800296,382308
29,Edmonton,502143,9857.77908,1321426,537634
30,Ottawa - Gatineau,535499,7168.96442,1323783,571146
31,Calgary,519693,5241.70103,1392609,544870
32,Vancouver,960894,3040.41532,2463431,1027613
33,Montréal,1727310,4638.24059,4098927,1823281
34,Toronto,2135909,6269.93132,5928040,2235145

#### Filter Observations: isin()

In [ ]:
city_names = ["Toronto", "Montréal", "Vancouver", "Calgary", "Edmonton"]
five_cities = region_data[region_data["region"].isin(city_names)]
five_cities

       region  households        area  population  dwellings
29   Edmonton      502143  9857.77908     1321426     537634
31    Calgary      519693  5241.70103     1392609     544870
32  Vancouver      960894  3040.41532     2463431    1027613
33   Montréal     1727310  4638.24059     4098927    1823281
34    Toronto     2135909  6269.93132     5928040    2235145

#### Comparison of values: == vs isin()

In [ ]:
pd.Series(["Vancouver", "Toronto"]) == pd.Series(["Toronto", "Vancouver"])

0    False
1    False
dtype: bool

In [ ]:
pd.Series(["Vancouver", "Toronto"]).isin(pd.Series(["Toronto", "Vancouver"]))

0    True
1    True
dtype: bool

In [ ]:
region_data[region_data["population"] > 2000000]

       region  households        area  population  dwellings
32  Vancouver      960894  3040.41532     2463431    1027613
33   Montréal     1727310  4638.24059     4098927    1823281
34    Toronto     2135909  6269.93132     5928040    2235145

In [ ]:
region_data.query("population > 2000000")

       region  households        area  population  dwellings
32  Vancouver      960894  3040.41532     2463431    1027613
33   Montréal     1727310  4638.24059     4098927    1823281
34    Toronto     2135909  6269.93132     5928040    2235145

#### Reading Data: Tidy_lang

In [ ]:
tidy_lang = pd.read_csv("tidy_lang_data.csv")
tidy_lang

,category,language,region,most_at_home,most_at_work
0,Aboriginal languages,"Aboriginal languages, n.o.s.",Toronto,50,0
1,Non-Official & Non-Aboriginal languages,Afrikaans,Toronto,265,0
2,Non-Official & Non-Aboriginal languages,"Afro-Asiatic languages, n.i.e.",Toronto,185,10
3,Non-Official & Non-Aboriginal languages,Akan (Twi),Toronto,4045,20
4,Non-Official & Non-Aboriginal languages,Albanian,Toronto,6380,215
...,...,...,...,...,...
1065,Non-Official & Non-Aboriginal languages,Wolof,Edmonton,90,10
1066,Aboriginal languages,Woods Cree,Edmonton,20,0
1067,Non-Official & Non-Aboriginal languages,Wu (Shanghainese),Edmonton,120,0
1068,Non-Official & Non-Aboriginal languages,Yiddish,Edmonton,0,0
1069,Non-Official & Non-Aboriginal languages,Yoruba,Edmonton,280,0

#### [Extracting columns by name] - filter rows and select columns at the same time using loc[]

In [ ]:
tidy_lang.loc[
    tidy_lang["region"] == "Toronto",     # filter rows
    ["language", "region", "most_at_home", "most_at_work"]  # select columns
]

                           language   region  most_at_home  most_at_work
0      Aboriginal languages, n.o.s.  Toronto            50             0
1                         Afrikaans  Toronto           265             0
2    Afro-Asiatic languages, n.i.e.  Toronto           185            10
3                        Akan (Twi)  Toronto          4045            20
4                          Albanian  Toronto          6380           215
..                              ...      ...           ...           ...
209                           Wolof  Toronto            75             0
210                      Woods Cree  Toronto             0            10
211               Wu (Shanghainese)  Toronto          3130            30
212                         Yiddish  Toronto           350            20
213                          Yoruba  Toronto          1080            10

[214 rows x 4 columns]

In [ ]:
tidy_lang.loc[
    tidy_lang["region"] == "Toronto",
    "language":"most_at_work"
]

                           language   region  most_at_home  most_at_work
0      Aboriginal languages, n.o.s.  Toronto            50             0
1                         Afrikaans  Toronto           265             0
2    Afro-Asiatic languages, n.i.e.  Toronto           185            10
3                        Akan (Twi)  Toronto          4045            20
4                          Albanian  Toronto          6380           215
..                              ...      ...           ...           ...
209                           Wolof  Toronto            75             0
210                      Woods Cree  Toronto             0            10
211               Wu (Shanghainese)  Toronto          3130            30
212                         Yiddish  Toronto           350            20
213                          Yoruba  Toronto          1080            10

[214 rows x 4 columns]

In [ ]:
tidy_lang.loc[10:, "region":]

        region  most_at_home  most_at_work
10     Toronto          7475           140
11     Toronto          6790           110
12     Toronto             5             0
13     Toronto             0             0
14     Toronto            35             0
...        ...           ...           ...
1065  Edmonton            90            10
1066  Edmonton            20             0
1067  Edmonton           120             0
1068  Edmonton             0             0
1069  Edmonton           280             0

[1060 rows x 3 columns]

In [ ]:
tidy_lang.loc[:15, :"region"]

,category,language,region
0,Aboriginal languages,"Aboriginal languages, n.o.s.",Toronto
1,Non-Official & Non-Aboriginal languages,Afrikaans,Toronto
2,Non-Official & Non-Aboriginal languages,"Afro-Asiatic languages, n.i.e.",Toronto
3,Non-Official & Non-Aboriginal languages,Akan (Twi),Toronto
4,Non-Official & Non-Aboriginal languages,Albanian,Toronto
5,Aboriginal languages,"Algonquian languages, n.i.e.",Toronto
6,Aboriginal languages,Algonquin,Toronto
7,Non-Official & Non-Aboriginal languages,American Sign Language,Toronto
8,Non-Official & Non-Aboriginal languages,Amharic,Toronto
9,Non-Official & Non-Aboriginal languages,Arabic,Toronto
10,Non-Official & Non-Aboriginal languages,Armenian,Toronto
11,Non-Official & Non-Aboriginal languages,Assyrian Neo-Aramaic,Toronto
12,Aboriginal languages,"Athabaskan languages, n.i.e.",Toronto
13,Aboriginal languages,Atikamekw,Toronto
14,Non-Official & Non-Aboriginal languages,"Austro-Asiatic languages, n.i.e",Toronto
15,Non-Official & Non-Aboriginal languages,"Austronesian languages, n.i.e.",Toronto

In [ ]:
tidy_lang.loc[10:16, tidy_lang.columns.str.startswith("most")]

    most_at_home  most_at_work
10          7475           140
11          6790           110
12             5             0
13             0             0
14            35             0
15           280            10
16           650            15

In [ ]:
tidy_lang.loc[20:30, tidy_lang.columns.str.contains("_")]

    most_at_home  most_at_work
20           125             0
21         24610           295
22            30             0
23            85             0
24            45             0
25             0             0
26          1330            45
27          3860           110
28           570            10
29        182750         25340
30             0             0

#### Using iloc[] to extract rows and columns by position - Python starts counting at 0, so the second column "language" has index 1.

In [ ]:
tidy_lang.iloc[:, 0]

0                          Aboriginal languages
1       Non-Official & Non-Aboriginal languages
2       Non-Official & Non-Aboriginal languages
3       Non-Official & Non-Aboriginal languages
4       Non-Official & Non-Aboriginal languages
                         ...
1065    Non-Official & Non-Aboriginal languages
1066                       Aboriginal languages
1067    Non-Official & Non-Aboriginal languages
1068    Non-Official & Non-Aboriginal languages
1069    Non-Official & Non-Aboriginal languages
Name: category, Length: 1070, dtype: object

In [ ]:
tidy_lang.iloc[:, 0:]

,category,language,region,most_at_home,most_at_work
0,Aboriginal languages,"Aboriginal languages, n.o.s.",Toronto,50,0
1,Non-Official & Non-Aboriginal languages,Afrikaans,Toronto,265,0
2,Non-Official & Non-Aboriginal languages,"Afro-Asiatic languages, n.i.e.",Toronto,185,10
3,Non-Official & Non-Aboriginal languages,Akan (Twi),Toronto,4045,20
4,Non-Official & Non-Aboriginal languages,Albanian,Toronto,6380,215
...,...,...,...,...,...
1065,Non-Official & Non-Aboriginal languages,Wolof,Edmonton,90,10
1066,Aboriginal languages,Woods Cree,Edmonton,20,0
1067,Non-Official & Non-Aboriginal languages,Wu (Shanghainese),Edmonton,120,0
1068,Non-Official & Non-Aboriginal languages,Yiddish,Edmonton,0,0
1069,Non-Official & Non-Aboriginal languages,Yoruba,Edmonton,280,0

In [ ]:
tidy_lang.iloc[5:10, :4]

,category,language,region,most_at_home
5,Aboriginal languages,"Algonquian languages, n.i.e.",Toronto,5
6,Aboriginal languages,Algonquin,Toronto,0
7,Non-Official & Non-Aboriginal languages,American Sign Language,Toronto,720
8,Non-Official & Non-Aboriginal languages,Amharic,Toronto,3820
9,Non-Official & Non-Aboriginal languages,Arabic,Toronto,45025