#### Reading data

In [7]:
import pandas as pd
import numpy as np

In [8]:
lang_wide = pd.read_csv("/Users/vanessamae/Documents/playground/python/region_lang_top5_cities_long.csv")
lang_wide

,region,category,language,type,count
0,Montréal,Aboriginal languages,"Aboriginal languages, n.o.s.",most_at_home,15
1,Montréal,Aboriginal languages,"Aboriginal languages, n.o.s.",most_at_work,0
2,Toronto,Aboriginal languages,"Aboriginal languages, n.o.s.",most_at_home,50
3,Toronto,Aboriginal languages,"Aboriginal languages, n.o.s.",most_at_work,0
4,Calgary,Aboriginal languages,"Aboriginal languages, n.o.s.",most_at_home,5
...,...,...,...,...,...
2135,Calgary,Non-Official & Non-Aboriginal languages,Yoruba,most_at_work,0
2136,Edmonton,Non-Official & Non-Aboriginal languages,Yoruba,most_at_home,280
2137,Edmonton,Non-Official & Non-Aboriginal languages,Yoruba,most_at_work,0
2138,Vancouver,Non-Official & Non-Aboriginal languages,Yoruba,most_at_home,40
2139,Vancouver,Non-Official & Non-Aboriginal languages,Yoruba,most_at_work,0

In [9]:
lang_mother_tidy = lang_wide.melt(
    id_vars   = ["category", "language"],
    var_name  = "region",
    value_name= "mother_tongue",
)
lang_mother_tidy

,category,language,region,mother_tongue
0,Aboriginal languages,"Aboriginal languages, n.o.s.",region,Montréal
1,Aboriginal languages,"Aboriginal languages, n.o.s.",region,Montréal
2,Aboriginal languages,"Aboriginal languages, n.o.s.",region,Toronto
3,Aboriginal languages,"Aboriginal languages, n.o.s.",region,Toronto
4,Aboriginal languages,"Aboriginal languages, n.o.s.",region,Calgary
...,...,...,...,...
6415,Non-Official & Non-Aboriginal languages,Yoruba,count,0
6416,Non-Official & Non-Aboriginal languages,Yoruba,count,280
6417,Non-Official & Non-Aboriginal languages,Yoruba,count,0
6418,Non-Official & Non-Aboriginal languages,Yoruba,count,40
6419,Non-Official & Non-Aboriginal languages,Yoruba,count,0

In [10]:
lang_long = pd.read_csv("/Users/vanessamae/Documents/playground/python/region_lang_top5_cities_long.csv")
lang_long

,region,category,language,type,count
0,Montréal,Aboriginal languages,"Aboriginal languages, n.o.s.",most_at_home,15
1,Montréal,Aboriginal languages,"Aboriginal languages, n.o.s.",most_at_work,0
2,Toronto,Aboriginal languages,"Aboriginal languages, n.o.s.",most_at_home,50
3,Toronto,Aboriginal languages,"Aboriginal languages, n.o.s.",most_at_work,0
4,Calgary,Aboriginal languages,"Aboriginal languages, n.o.s.",most_at_home,5
...,...,...,...,...,...
2135,Calgary,Non-Official & Non-Aboriginal languages,Yoruba,most_at_work,0
2136,Edmonton,Non-Official & Non-Aboriginal languages,Yoruba,most_at_home,280
2137,Edmonton,Non-Official & Non-Aboriginal languages,Yoruba,most_at_work,0
2138,Vancouver,Non-Official & Non-Aboriginal languages,Yoruba,most_at_home,40
2139,Vancouver,Non-Official & Non-Aboriginal languages,Yoruba,most_at_work,0

In [11]:
lang_home_tidy = lang_long.pivot(
    index=["region", "category", "language"],
    columns=["type"],
    values=["count"]
).reset_index()
display(lang_home_tidy)
display(lang_home_tidy[["count"]])
display(lang_home_tidy[[("count", "most_at_home")]])

         region                                 category  \
type
0       Calgary                     Aboriginal languages
1       Calgary                     Aboriginal languages
2       Calgary                     Aboriginal languages
3       Calgary                     Aboriginal languages
4       Calgary                     Aboriginal languages
...         ...                                      ...
1065  Vancouver  Non-Official & Non-Aboriginal languages
1066  Vancouver  Non-Official & Non-Aboriginal languages
1067  Vancouver  Non-Official & Non-Aboriginal languages
1068  Vancouver                       Official languages
1069  Vancouver                       Official languages

                          language        count
type                               most_at_home most_at_work
0     Aboriginal languages, n.o.s.            5            0
1     Algonquian languages, n.i.e.            0            0
2                        Algonquin            0            0
3     Athabaskan languages, n.i.e.            0            0
4                        Atikamekw            0            0
...                            ...          ...          ...
1065             Wu (Shanghainese)         2495           45
1066                       Yiddish           10            0
1067                        Yoruba           40            0
1068                       English      1622735      1330555
1069                        French         8630         3245

[1070 rows x 5 columns]

            count
type most_at_home most_at_work
0               5            0
1               0            0
2               0            0
3               0            0
4               0            0
...           ...          ...
1065         2495           45
1066           10            0
1067           40            0
1068      1622735      1330555
1069         8630         3245

[1070 rows x 2 columns]

            count
type most_at_home
0               5
1               0
2               0
3               0
4               0
...           ...
1065         2495
1066           10
1067           40
1068      1622735
1069         8630

[1070 rows x 1 columns]

In [12]:
lang_home_tidy.columns = [
    "region",
    "category",
    "language",
    "most_at_home",
    "most_at_work",
]
display(lang_home_tidy)
display(lang_home_tidy[["most_at_home"]])

,region,category,language,most_at_home,most_at_work
0,Calgary,Aboriginal languages,"Aboriginal languages, n.o.s.",5,0
1,Calgary,Aboriginal languages,"Algonquian languages, n.i.e.",0,0
2,Calgary,Aboriginal languages,Algonquin,0,0
3,Calgary,Aboriginal languages,"Athabaskan languages, n.i.e.",0,0
4,Calgary,Aboriginal languages,Atikamekw,0,0
...,...,...,...,...,...
1065,Vancouver,Non-Official & Non-Aboriginal languages,Wu (Shanghainese),2495,45
1066,Vancouver,Non-Official & Non-Aboriginal languages,Yiddish,10,0
1067,Vancouver,Non-Official & Non-Aboriginal languages,Yoruba,40,0
1068,Vancouver,Official languages,English,1622735,1330555
1069,Vancouver,Official languages,French,8630,3245

      most_at_home
0                5
1                0
2                0
3                0
4                0
...            ...
1065          2495
1066            10
1067            40
1068       1622735
1069          8630

[1070 rows x 1 columns]

In [13]:
lang_long.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2140 entries, 0 to 2139
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   region    2140 non-null   object
 1   category  2140 non-null   object
 2   language  2140 non-null   object
 3   type      2140 non-null   object
 4   count     2140 non-null   int64
dtypes: int64(1), object(4)
memory usage: 83.7+ KB

In [14]:
lang_home_tidy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1070 entries, 0 to 1069
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   region        1070 non-null   object
 1   category      1070 non-null   object
 2   language      1070 non-null   object
 3   most_at_home  1070 non-null   int64
 4   most_at_work  1070 non-null   int64
dtypes: int64(2), object(3)
memory usage: 41.9+ KB

In [15]:
lang_messy = pd.read_csv("data/region_lang_top5_cities_messy.csv")
lang_messy

FileNotFoundError: [Errno 2] No such file or directory: 'data/region_lang_top5_cities_messy.csv'

In [ ]:
lang_messy_longer = lang_messy.melt(
    id_vars=["category", "language"],
    var_name="region",
    value_name="value",
)

lang_messy_longer

In [ ]:
tidy_lang = lang_messy_longer.drop(columns=["value"])
tidy_lang[["most_at_home", "most_at_work"]] = lang_messy_longer["value"].str.split("/", expand=True)
tidy_lang

In [ ]:
tidy_lang.info()

In [ ]:
tidy_lang["most_at_home"] = tidy_lang["most_at_home"].astype("int")
tidy_lang["most_at_work"] = tidy_lang["most_at_work"].astype("int")
tidy_lang

In [ ]:
tidy_lang.info()
#tidy_lang.to_csv('tidy_lang_data.csv', index=False)